<p>A continuación se muestra el contenido cargado actualmente en la aplicación:</p>
<ul>
	<li>Número de preguntas: <%= num_quizes %> </li>
	<li>Número de comentarios totales: <%= num_comments %> </li>
	<li>Número medio de comentarios por pregunta: <%= media_comments_quiz %></li>
	<li>Número de preguntas sin comentarios: <%= num_quizes_sin_comments %> </li>
	<li>Número de preguntas con comentarios: <%= num_quizes_con_comments %> </li>
</ul>