<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" /> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" /> <p>
<select name="quiz[tematica]">
  <option <%= (quiz.tematica === "Otro")? "selected":"" %> value="Otro" selected>Otro</option>
  <option <%= (quiz.tematica === "Humanidades")? "selected":"" %> value="Humanidades">Humanidades</option>
  <option <%= (quiz.tematica === "Ocio")? "selected":"" %> value="Ocio">Ocio</option>
  <option <%= (quiz.tematica === "Ciencia")? "selected":"" %> value="Ciencia">Ciencia</option>
  <option <%= (quiz.tematica === "Tecnologia")? "selected":"" %> value="Tecnologia">Tecnología</option>
</select>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">